<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hello_codemagic.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>63085576E8FB26866115FD3D93C36698CD276F94</string>
				<key>dateExpires</key>
				<string>21/08/2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63085576E8FB26866115FD3D93C36698CD276F94</string>
						<key>dateExpires</key>
						<string>21/08/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8NNQ9CYL2</string>
						<key>name</key>
						<string>NEVERCODE LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63085576E8FB26866115FD3D93C36698CD276F94</string>
						<key>dateExpires</key>
						<string>21/08/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8NNQ9CYL2</string>
						<key>name</key>
						<string>NEVERCODE LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63085576E8FB26866115FD3D93C36698CD276F94</string>
						<key>dateExpires</key>
						<string>21/08/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>integration_test.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X8NNQ9CYL2</string>
						<key>name</key>
						<string>NEVERCODE LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>X8NNQ9CYL2.com.example.helloCodemagic</string>
				<key>com.apple.developer.team-identifier</key>
				<string>X8NNQ9CYL2</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7dc0e741-bdaa-4ce6-a037-acb3b4eebff0</string>
				<key>dateExpires</key>
				<string>17/09/2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>X8NNQ9CYL2</string>
				<key>name</key>
				<string>NEVERCODE LTD</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
